<footer>
  <div class="container">
    <div class="row">
      <nav>
        <ul class="navbar pull-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'contact', contact_path %></li>
          <li><%= link_to 'about', about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>